@media (max-width: 1500px) {}

@media (max-width: 1200px) {}

@media (max-width: 1199px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {
    img {
        width: 100%;
    }

    .maine-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .baner-area {
        padding: 30px 10px;
    }

    .baner-text h2 {}

    .baner-bg {
        background-position: center center;
    }

    .maine-section.left .section-text h1 {
        font-size: 48px;
        padding-top: 40px;
    }

    .maine-section.left .section-text h6 {
        font-size: 18px;
    }

    .maine-section.right .section-text h3 {
        font-size: 24px;
    }

    .maine-section.bg .section-text h6 {
        font-size: 16px;
    }

    .maine-section.bg {
        background-position: center center;
        padding: 60px 20px;
    }

    .baner-area.baner-product {
        padding: 50px 20px;
    }

    .bg-yellow {
        padding: 10px;
    }

    .bg-yellow .maine-section {
        background-position: center top;
        color: #fff;
    }

    .bg-yellow .section-text h2 {
        color: #fff;
    }

    .bg-light .section-text h4 {
        font-size: 18px;
        padding: 20px;
        margin-bottom: 0;
    }

    .bg-blue p {
        width: 100%;
        font-size: 18px;
    }
    .bg-gray .maine-section h4{
        font-size: 22px;
    }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}
